.eventWrapper {
  /* По желанию, можно добавить дополнительные стили для обертки */
}

.eventContent {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 100%;
  margin-bottom: 20px;
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.description {
  width: 100%;
  text-align: center;
}

.description p {
  margin-top: auto;
  margin-bottom: auto;
}

.venue {
  /* По желанию, можно добавить дополнительные стили для места проведения */
}

.subTitle {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ticketPrice {
  /* По желанию, можно добавить дополнительные стили для цены билетов */
}

@media (min-width: 768px) {
  .card {
    flex-direction: row;
    justify-content: space-between;
  }

  .image {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }

  .description {
    flex: 0 0 66.67%;
    max-width: 66.67%;
  }
}

.relatedEvents {
  /* По желанию, можно добавить дополнительные стили для блока похожих событий */
}

.groupTitle {
  /* По желанию, можно добавить дополнительные стили для заголовка группы */
}

/* ... (предыдущие стили) */

.eventTitle {
  text-align: left;
  font-size: 24px;
  margin-bottom: 10px;
}

.description {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 20px; /* Используем margin вместо padding */
}

.ticketTitle {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.ticketPrice {
  margin-bottom: 10px;
}

.buttonWrapper {
  padding-top: 10px;
  padding-bottom: 0;
  display: flex;
  justify-content: flex-end;
}

.buyButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #006fbb;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.buyButton:hover {
  background-color: #da291c;
}

@media (min-width: 768px) {
  .card {
    flex-direction: row;
    justify-content: space-between;
  }

  .image {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }

  .description {
    flex: 0 0 66.67%;
    max-width: calc(66.67% - 40px); /* Учет отступов */
    margin: 0 40px;
  }
}
