/* Global.module.css */

.logoWrapper {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: #006fbb;
}

.logoWrapper:hover {
  color: #d1251a;
  cursor: pointer;
}

.eventCardsList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.eventCardItem {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.eventCardImage {
  max-width: 100%;
  height: auto;
}

a.tag {
  text-decoration: none;
  color: #006fbb;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #006fbb;
  transition: background-color 0.3s ease;
  margin: 14px 0;
  display: inline-block;
}

@media (max-width: 1000px) {
  .eventCardItem {
    width: 100%;
  }
}
