/* Global.module.css */

@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../public/fonts/BebasNeue.ttf) format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../public/fonts/OpenSans.ttf) format("truetype");
}

.container {
  font-family: "Open Sans", sans-serif;
  max-width: 1516px;
  margin: auto;
}

.logoWrapper {
  text-transform: uppercase;
  text-decoration: none;
  color: #006fbb;
  font-family: "Bebas Neue", sans-serif;
  font-size: 60px;
  font-weight: bolder;
  text-shadow: -1px -1px -1px rgba(0, 0, 0, 0.5);
}

.logoWrapper:hover {
  color: #d1251a;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .logoWrapper {
    font-size: 40px;
  }
}

.eventCardsList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.eventCardItem {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.eventCardImage {
  max-width: 100%;
  height: auto;
}

a.tag {
  text-decoration: none;
  color: #006fbb;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #006fbb;
  transition: background-color 0.3s ease;
  margin: 14px 0;
  display: inline-block;
}

@media (max-width: 1000px) {
  .eventCardItem {
    width: 100%;
  }
}

.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6,
.container button {
  font-family: "Bebas Neue", sans-serif;
}
