.card {
  margin: 1rem;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  transition: box-shadow 0.15s ease;
  width: 280px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card:hover,
.card:focus,
.card:active {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.cardContent {
  padding: 1rem;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.cardImage {
  width: 100%;
  display: block;
  border-bottom: 1px solid #d6d6d6;
}

.cardTitle {
  font-size: 1.25rem;
  margin: 0.5rem 0;
  color: #333;
  font-weight: 500;
}

.cardStartDate {
  font-size: 0.95rem;
  color: #666;
  font-weight: 400;
}
.cardAddress {
  font-size: 0.95rem;
  color: #333;
  font-weight: 400;
}



.fullCardLink {
  text-decoration: none;
}

.cardFooter {
  padding: 0 1rem;
}

.cardPrice {
  color: #fff;
  background-color: #006fbb;
  padding: 8px 12px;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  float: right;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.cardPrice:hover {
  background-color: #da291c;
}

@media (max-width: 1000px) {
  .card {
    width: 100%;
    margin: 1rem 0;
  }
}
